(/* Local font definitions from the project's `font/` folder */)
@font-face {
	font-family: 'SamsungSans';
	src: url('font/samsungsharpsans.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SamsungSans';
	src: url('font/samsungsharpsans-medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SamsungSans';
	src: url('font/samsungsharpsans-bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Paperlogy';
	src: url('font/Paperlogy-1Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('font/Paperlogy-3Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paperlogy';
	src: url('font/Paperlogy-5Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}