<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/basic-form-trainee.css">
	<link rel="stylesheet" href="/static/css/btn-style.css">
	<link rel="stylesheet" href="/static/css/trainee/attendance.css">
	<script src="/static/js/trainee/attendance.js" defer></script>
	<title>Samsung Academy LXP</title>
</head>
<body>
	<main>
		
		<section class="main-content-top">
			<div class="main-wrap">
				<h2>출결현황</h2>
			</div>
		</section>
	</main>
	<footer></footer>
	
</body>
</html>
