    <!DOCTYPE html>
    <html lang="ko">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 공통 -->
    <link rel="stylesheet" href="/static/css/basic-form-trainee.css" />
    <link rel="stylesheet" href="/static/css/btn-style.css" />


    <!-- 공지 전용(추가) -->
    <title>Samsung Academy LXP</title>
    </head>
    <body>
    <main>
        <section class="main-content-top">
        <div class="main-wrap">
            <h2>공지</h2>
        </div>
        </section>

    </main>

    <footer></footer>

    </body>
    </html>
