    <!DOCTYPE html>
    <html lang="ko">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 공통 -->
    <link rel="stylesheet" href="/static/css/basic-form-trainee.css" />
    <link rel="stylesheet" href="/static/css/btn-style.css" />
    <link rel="stylesheet" href="/static/css/trainee/notices-table.css"/>
    <link rel="stylesheet" href="/static/css/trainee/notices.css" />

    <!-- 공지 전용(추가) -->

    <script src="/static/js/trainee/notices.js" defer></script>
    <title>Samsung Academy LXP</title>
    </head>
    <body>
    <main>
        <section class="main-content-top">
        <div class="main-wrap">
            <h2>공지</h2>
        </div>
        </section>

        <section class="main-content" id="notice-list-section">
            <div class="main-wrap">
                <table class="basic-table notice-table" style="width:100%;margin-top:24px;">
                <thead>
                    <tr>
                    <th style="width:8%">번호</th>
                    <th style="width:14%">카테고리</th>
                    <th style="width:44%">제목</th>
                    <th style="width:14%">등록일</th>
                    <th style="width:12%">등록인</th>
                    <th style="width:8%">조회수</th>
                    </tr>
                </thead>
                <tbody id="notice-list-tbody">
                    <!-- JS로 공지사항 목록이 동적으로 삽입됩니다. -->
                </tbody>
                </table>

                <div class="notice-pagination" id="noticePagination"></div>
            </div>
        </section>
    </main>

    <footer></footer>

    </body>
    </html>
